.navbar {
  background: #ff0055;
  z-index: 10;
}

.navbar a {
  text-decoration: none;
}

.navbar h1 {
  font-weight: bold;
  color: white;
  margin: 0;
}

.toggle {
  border: 2px solid #292929;
  outline: none !important;
}
